<div class="displayContainer">

<h1>Welcome to LingoRater, <%= @user.name %>!</h1>
<br>
<p>To start making use of our site, check out the navigation bar above. Here you can create a new course review or search for already existing reviews. You can search by title, author/publisher or by language.</p>
<br>
<p>Here at LingoRater, our focus is on having as many high quality reviews for as many courses as possible. In order to adhere to these high standards, we have a few sitewide rules:</p>
<br>
<ul class="rulesList">
<li>1. Please search through our site first to see if your course has been created. This way users will be able to find all the reviews for a particular course on one handy page!</li><br>
<li>2. Try to provide as much information about a new course as possible if you are the first user to add it to our site!</li><br>
<li>3. Please make your reviews as detailed as you can, we have a minimum character count for the reviews as we do not wish any course page to fill up with small unhelpful reviews.</li>
</ul>
<br>

<p>If at any time you wish to read the instructions/rules for the app, click your name in the navigation bar at the top of the screen and you will be brought back to this page.</p>
<br>
<h3>Happy LingoRating!!!</h3>

</div>