<div class="displayContainer">


	<%= render "form" %>
	<br>


  <%= form_tag course_review_path(@review.course, @review), method: "delete" do %>
	<%= submit_tag "Delete Review" %>
	<% end %>

</div>